<!--Меню было вставлено через include в базовый шаблон-->
<nav class="navbar navbar-expand-lg border-bottom border-body text-bg-secondary " >
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-center">
      <!-- Цикл на синтаксисе шаблонизатора -->
      <!-- Если элемент первый или последний ему будет дан класс green -->
      {% for item in menu %}
      <li class="nav-item">
        <!--   Урлы через имена. Урлы будут добываться из urls.py автоматически-->
        <a
          class="nav-link active"
          aria-current="page"
          href="{% url item.url_name %}"
          >{{ item.title }}</a
        >
      </li>
      {% if not forloop.last %}
      <hr />
      {% endif %} {% endfor %}
    </ul>
  </div>
</nav>
