{% extends "base.html" %}
{% load markdown_to_html %}
{% load markdown_to_html_2 %}
{% block content %}
<!-- Детальное представление карточки cards/templates/cards/include/card_preview.html -->
<div class="card ext-bg-light mb-2 card-style" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ card.question }}</h5>
      <p class="card-text"> {{ card.answer }} </p>
      <p class="card-text">{{ card.category }}</p>
      <p class="card-text">{{ card.tags|join:", "  }}</p>
      
      <p class="card-text">Автор: {{ card.id_author }}</p>
      <p class="card-text">Номер карточки: {{ card.id_card }}</p>
      <p class="card-text">Дата загрузки: {{ card.upload_date }}</p>
      <p class="card-text">Счетчик просмотров: {{ card.views_count }}</p>
      <p class="card-text">Счетчик лайков: {{ card.favorites_count }}</p>
    </div>
    <a href="{% url 'catalog' %}" class="btn btn-success ">Назад</a>
</div>
{% endblock content %}