{% extends "base.html" %}

{% comment %} cards/templates/cards/catalog.html {% endcomment %}

{% block title %}Каталог карточек Anki{% endblock %}

{% block content %}
    <h1>Каталог карточек Anki для интервального повторения</h1>
    <p>Здесь вы можете выбрать карточки для изучения</p>
    <p>На текущий момент, у нас карточек: {{ cards_count }} и пользователей: {{ users_count }} </p>
        <ul class="card-list">
            {% for card in cards %}
                <li class="li-list">
                    {% include "includes/card_preview.html" %}
                </li>
            {% endfor %}
        </ul>
{% endblock %}